* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c99180;
    font-family: Verdana, sans-serif;
}

.navbar, .header, .footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container ul {
    display: flex;
    gap: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 32px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
}

.button {
    /*background-color: #3882f6;*/
}

.header img {
    width: 50%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}