* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c99180;
    font-family: Verdana, sans-serif;
}

.navbar, .header, .footer{
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.container ul {
    display: flex;
    gap: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 32px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
}

.quote .container{
    display: flex;
    flex-direction:column;
}


.quote {
    background-color: #e5e7eb;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.header p{
    padding-bottom: 16px;
}



.sign1, .sign2 {
    background-color: #3882f6;
    padding: 8px 24px;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 10px;
    border: none;

}
  
.boxes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5cqmax;
    gap: 20px;
    background-color: #e8effa;
}

.container .info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header img {
    width: 50%;
}

.bottom {
    background-color: #e8effa;
}

.bottom .container {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 4em;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;

}

.footer {
    text-align: center;
    
}


/* Not working
.sign2 {
    border-color: #e5e7eb;

}


.nicequote {
    text-size: 36px;
    font-style: light italic;
}
*/


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}